UserInterfaceState.xcuserstate
build
*.pbxuser
*.perspectivev3
*.mode1v3
*~
*~.nib
*~.xib 
.DS_Store 
xcuserdata/
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/nubs/v15/ipch/AutoPCH/bd053d4d888d0e70/QUICK_SORT.ipch
/.vs/nubs/v15/ipch/AutoPCH/bd053d4d888d0e70
/.vs/nubs/v15/ipch/AutoPCH/af93be5689f0822d/MERGE_SORT.ipch
/.vs/nubs/v15/ipch/AutoPCH/af93be5689f0822d
/.vs/nubs/v15/ipch/AutoPCH/aa720eac83e48b4/NUMSWAPS.ipch
/.vs/nubs/v15/ipch/AutoPCH/aa720eac83e48b4
/.vs/nubs/v15/ipch/AutoPCH/8bf3707110104f78/TWO_SUM.ipch
/.vs/nubs/v15/ipch/AutoPCH/8bf3707110104f78
/.vs/nubs/v15/ipch/AutoPCH
/.vs/nubs/v15/Browse.VC.opendb
/.vs/nubs/v15/Browse.VC.db
/.vs/nubs/v15/.suo
/.vs/nubs/v15
/.vs
